<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Input Column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Input Column" type="xstring" value="query"/>
        <config key="Remove Input Column_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Remove Input Column" type="xboolean" value="true"/>
        <config key="Output Type_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Output Type" type="xstring" value="String_Column"/>
        <config key="Charset encoding_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Charset encoding" type="xstring" value="UTF-8"/>
        <entry key="SMR_VERSION" type="xint" value="1"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="com.vernalis.nodes.urlencode.UrlEncodeNodeFactory"/>
    <entry key="node-name" type="xstring" value="URL Encode"/>
    <entry key="node-bundle-name" type="xstring" value="Vernalis custom KNIME nodes package "/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="com.vernalis.knime"/>
    <entry key="node-bundle-vendor" type="xstring" value="Vernalis Research, UK"/>
    <entry key="node-bundle-version" type="xstring" value="1.36.6.v202405090949"/>
    <entry key="node-feature-name" type="xstring" value="Vernalis KNIME Nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="com.vernalis.knime.feature.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="Vernalis Research Ltd, Cambridge, UK"/>
    <entry key="node-feature-version" type="xstring" value="1.36.6.v202405090949"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="URL Encode"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 6, Cols: 1"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="12102fbe-5aae-4d4e-a311-749fcd47efa8"/>
    </config>
</config>
