version: '3'

services:

  postgres:
    image: postgres:${POSTGRES_VERSION}
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - music-data

  strapi:
    build:
      context: ./strapi
    container_name: strapi-music-data
    restart: unless-stopped
    ports:
      - '1337:1337'
    environment:
      - DATABASE_CLIENT=postgres
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=${POSTGRES_DB}
      - DATABASE_USERNAME=${POSTGRES_USER}
      - DATABASE_PASSWORD=${POSTGRES_PASSWORD}
      - DATABASE_SSL=false
    depends_on:
      - postgres
    networks:
      - music-data

  neo4j:
    image: neo4j:latest
    restart: unless-stopped
    volumes:
        - ${DATA_DIR}/neo4j/logs:/logs
        - ${DATA_DIR}/neo4j/config:/config
        - ${DATA_DIR}/neo4j/data:/data
        - ${DATA_DIR}/neo4j/plugins:/plugins
    environment:
        - NEO4J_AUTH=neo4j/${NEO4J_PASSWD}
    ports:
      - "7474:7474"
      - "7687:7687"

  # kong:
  #   image: kong:3.0
  #   container_name: kong
  #   ports:
  #     - "8000:8000" # Proxy port
  #     - "8001:8001" # Admin API port
  #     - "8002:8002"  # Kong Manager port
  #   environment:
  #     KONG_DATABASE: "off"  # Use SQLite
  #     KONG_DB_UPDATE_FREQUENCY: 5
  #     KONG_LUA_PACKAGE_PATH: "/usr/local/share/lua/5.1/?.lua;;"
  #     KONG_LUA_PACKAGE_CPATH: "/usr/local/lib/lua/5.1/?.so;;"
  #     KONG_PORTAL: "on"  # Enable Kong Manager (GUI)
  #     KONG_PORTAL_GUI_HOST: "0.0.0.0"  # Bind to all network interfaces
  #     KONG_PORTAL_GUI_HOST_PORT: 8002  # Port for Kong Manager GUI
  #   volumes:
  #     - ./data/kong/config:/etc/kong
  #     - ./data/kong/db:/usr/local/kong/database


  allmusicgrabber:
    build:
      context: ./allmusicgrabber
    container_name: allmusicgrabber-api
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    networks:
      - music-data
      - traefik_web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.allmusicgrabber.rule=Host(`biconou.freeboxos.fr`)"
      - "traefik.http.routers.allmusicgrabber.entrypoints=allmusicgrabber-api"
      - "traefik.http.routers.allmusicgrabber.tls=true"
      - "traefik.http.routers.allmusicgrabber.tls.certresolver=leresolver"
      - "traefik.docker.network=traefik_web"


networks:
  music-data:
    driver: bridge
  traefik_web:
    external: true
